@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #2e0249;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 1.5rem 7rem 2.5rem 4rem;
  height: 90vh;
  font-size: 1.20rem;
}

main section {
  width: 30rem;
  height: 15rem;
  margin-left: 0.5rem;
}

main section.presentation h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #eeeeee;
}

.title span {
  color: #a91079;
}

main section.presentation ul.details {
  /* margin-top: 5.06rem; */
  width: 28.19rem;
}

main section.presentation ul.details li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  border: 3px solid #2e0249;
  border-radius: 1rem;
}

main section.presentation ul.details li:hover {
  background-color: rgba(169, 16, 121, 0.5);
  transition: 0.3s;
  border-color: #a91079;
}

main section.presentation ul.details li a,
main section.presentation ul.details li span {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

main section.presentation ul.details li img {
  max-width: 1.25rem;
}


main section.presentation ul.social {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 4rem;
  width: 11rem;
  height: 3.5rem;
  align-items: center;
}

main section.presentation ul.social li {
  padding: 1rem;
}

main section.presentation ul.social li:hover {
  background-color: rgba(169, 16, 121, 0.5);
  transition: 0.3s;
  border-radius: 1rem;
}

main section.presentation ul.social li img {
  max-width: 1.40rem;
}


main .form1 {
  background: #eeeeee;
  width: 24rem;
  margin-right: -7.5rem;
  margin-left: 9rem;
  margin-top: 1rem;
  height: 81vh;
  border-radius: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 1.13rem; */
  padding: 1.5rem 2rem 1.5rem 2rem;
}

main .form1 p {
  font-weight: 500;
  line-height: 1.88rem;
  color: #2e0249;
  margin-bottom: 1.5rem;
}

main.form1 .list-interest {
  width: 25rem;
}

main .form1 ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

main .form1 ul li {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

main .form1 ul li button {
  padding: 0.6rem;
  border-radius: 8px;
  border: 2px solid rgba(46, 2, 73, 0.3);
  color: rgba(46, 2, 73, 0.3);
  cursor: pointer;
  font-weight: 500;
}

main .form1 ul li button:hover {
  background: #a91079;
  color: #fff;
  border-color: #a91079;
  transform: 0.3s;
}

main .form1 .form-user {
  margin-top: 0.5rem;
  display: flex;
  height: 13rem;
  flex-direction: column;
  width: 24rem;
}

main .form1 .form-user input:not(:last-child) {
  margin-bottom: 0.5rem;
}

main .form1 .form-user input {
  margin-bottom: 4rem;
  border: none;
  border-bottom: 3px solid rgba(46, 2, 73, 0.3);
  background: inherit;
  padding-bottom: 0.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 1.88rem;
  color: #2e0249;
}

main .form1 .form-user input:focus-visible {
  outline: none;
  border-color: #a91079;
}

main .form1 .form-user input::placeholder {
  color: rgba(46, 2, 73, 0.3);
}

.sendButton {
  padding: 1rem;
  margin-top: 10rem;
  width: 16rem;
  height: 4rem;
  position: relative;
  background-color: #a098ba;
  border-radius: 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}


#sendButton {
  background-color: #a91079;
  color: #eeeeee;
  cursor: pointer;
}

#sendButton:disabled {
  background-color: #d5cfde;
  color: #989797;
  cursor: not-allowed;
}

.icon {
  margin-right: 1rem;
}

/* Responsividade para dispositivos com largura menor ou igual a 768px */
@media (max-width: 768px) {
  .presentation {
    text-align: center;
  }

  .details {
    text-align: center;
  }

  .social {
    text-align: center;
  }

  .form1 {
    text-align: center;
  }
}

/* Responsividade para dispositivos com largura menor ou igual a 480px */
@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .details {
    font-size: 14px;
  }

  .list-interest li {
    width: 100%;
  }

  .form-user input {
    width: 100%;
  }
}